@mixin head-1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin head-2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin head-3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin head-4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin body-1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin body-2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin body-3 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
