.notification-item-wrap {
  @include body-2;
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  gap: 6px;

  .notification-msg {
    cursor: pointer;
    > p {
      > span {
        color: $primary-1;
        font-weight: 600;
        margin-right: 3px;
      }
    }
  }

  &.not-read-item {
    background-color: hsla(221, 85%, 52%, 0.05);
  }
}

.notification-item-wrap + .notification-item-wrap {
  border-top: solid 1px #e0e0e0;
}
