.follow-item-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .left {
    display: flex;
    gap: 12px;
    cursor: pointer;
    align-items: center;

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .name {
        color: $black;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
      }

      .introduce {
        @include ellipsis;

        display: block;
        max-width: 300px;
        color: rgb(0 0 0 / 60%);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}
