.tag-item {
  padding: 8px 27px;
  border: 1px solid $gray20;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  gap: 5px;

  .tag-input {
    @include body-1;
    width: 130px;
    padding: 0;
  }

  &.tag-item-with-input {
    padding: 8px 10px 8px 27px;
  }
}
